.main {
	margin: 0;
    height: 100%;
	width: 100%;
	position:relative;
}

.mainStatus {
    border-bottom: solid;
	border-width: 2px;
	position: absolute;
	left: 0px;
	top: 0px;	
}

.mainMenu {
    border-right: solid;
	//border-radius: 25px;
	border-width: 2px;
	position: absolute;
	left: 0px;
	top: 25px;
	padding-top: 2px;
}

.mainContent {
	position: absolute;
	right: 0px;
	top: 25px;
}