.main {
	margin: 0;
    height: 100%;
	width: 100%;
	position:relative;
}

.mainStatus {
    border-bottom: dashed;
	border-width: 4px;
	position: absolute;
	left: 0px;
	top: 0px;	
}

.mainMenu {
    border-right: dashed;
	border-radius: 25px;
	border-width: 4px;
	position: absolute;
	left: 0px;
	top: 25px;
}

.mainContent {
	position: absolute;
	right: 0px;
	top: 25px;
}